.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1b242f;
  padding: 70px 0 50px;
}

.footer__app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.footer__app a {
  margin: 0 15px 15px;
  display: flex;
  justify-content: center;
}

.footer__me {
  color: #8f9aa7;
  font-size: 12px;
}

.footer__me > span {
  color: #e31b6d;
}
