.about {
  padding: 0;
}

.about__ability {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
}

.about__ability-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 0 16px;
}

.about__ability-wrap-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.about__ability-wrap-icon span {
  width: 56px !important;
  height: 56px !important;
}

.about__ability-title {
  margin: 15px 0 5px;
  font-size: 24px;
  font-weight: 500;
  color: #444649;
}

.about__ability-detail {
  line-height: 24px;
  color: #444649;
  text-align: center;
}

.about__skill {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.about__skill-who {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.about__skill-who-img {
}

.about__skill-who-img > span {
  border-radius: 50%;
}

.about__skill-who-title {
  font-size: 24px;
  font-weight: 500;
  color: #444649;
}

.about__skill-who-content {
  /* width: 484px; */
}

.about__skill-skill {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.about__skill-skill-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__skill-skill-card div {
  text-align: center;
}

.about__skill-skill-card-title {
  font-size: 16px;
  font-weight: 600;
  color: #444649;
  margin-top: 10px;
  margin-bottom: 6px;
}

.about__skill-skill-card-detail {
  margin: 0;
  font-size: 14px;
  color: #444649;
  text-align: center;
  margin-bottom: 8px;
}

.about__skill-skill-card-label {
  color: lightskyblue;
  font-weight: 600;
  font-size: 14px;
}

@media screen and (max-width: 370px) {
  .about__skill-who-content {
    text-align: center;
  }
}

@media screen and (max-width: 460px) {
  .about .about__ability .about__ability-card {
    margin: 0 0 24px !important;
    width: 190px;
  }

  .about__skill .about__skill-who .about__skill-who-content {
    width: 100% !important;
  }
}

@media screen and (max-width: 530px) {
  .about__skill .about__skill-who .about__skill-who-content {
    width: 360px;
  }
}

@media screen and (max-width: 660px) {
  .about .about__ability .about__ability-card {
    margin: 0 16px 24px;
    width: 190px;
  }

  .about__ability .about__ability-card .about__ability-wrap-icon {
    width: 80px;
    height: 80px;
  }

  .about__ability-wrap-icon span {
    top: 12px;
  }

  .about__skill .about__skill-skill {
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 960px) {
  .about__ability {
    flex-wrap: wrap;
  }

  .about__ability .about__ability-card {
    margin: 0 36px 24px;
  }

  .about__skill {
    flex-wrap: wrap;
  }

  .about__skill .about__skill-who {
    margin-bottom: 24px;
  }

  .about__skill .about__skill-skill {
    justify-content: center;
  }

  .about__skill-who .about__skill-who-content {
    width: 484px;
  }
}

@media screen and (max-width: 1120px) {
  .about__skill-who-content {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .about__skill-who-content {
    width: 484px;
  }
}

@media screen and (max-width: 1600px) {
  .about__skill {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1601px) {
  .about {
    padding: 0 240px;
  }
}

@media screen and (min-width: 1691px) {
  .about {
    padding: 0 330px;
  }
}

@media screen and (min-width: 1971px) {
  .about {
    padding: 0 400px;
  }
}
