.home {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;
}

.home__content {
  position: absolute;
  color: #fff;
  text-align: center;
}

.home__content p {
  margin: 0;
}

.home__content span {
  color: lightskyblue;
}

div.btn {
  position: relative;
  display: flex;
  width: 240px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 16px;
  font-size: 24px;
  padding-right: 50px;
}

div.btn > span {
  transition: all 0.2s;
  position: absolute !important;
  right: 20px;
  top: 14px;
}

div.btn:hover span {
  transform: rotate(90deg);
}
