.btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 30px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  background-color: lightskyblue;
  border-color: lightskyblue;
}

.btn-icon {
  width: 55px;
  height: 55px;
  border: 0;
  background-color: #262f38;
  padding: 15.5px 14px;
}
