.loading {
  position: absolute;
}

.container {
  background-color: #fff;
  width: 100%;
}

.title-container {
  text-align: center;
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 0;
  color: #444649;
}

.title-decorate-line {
  width: 70px;
  border: 2px solid #444649;
  margin-bottom: 100px;
}

.no-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-size: 25px;
  color: #444649;
  font-weight: 600;
}

@media screen and (max-width: 660px) {
  .decorate-line {
    width: 70px;
    border: 2px solid #444649;
    margin-bottom: 24px;
    opacity: 30%;
  }
}
