html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrap-container {
  background-color: #333;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@import './button.css';
@import './common.css';
@import './hexagon.css';
@import './input.css';

@import './components/footer.css';
@import './components/navbar.css';

@import './containers/about.css';
@import './containers/blog.css';
@import './containers/contact.css';
@import './containers/home.css';
@import './containers/portfolio.css';
