.container {
  background-color: #333;
  overflow: hidden;
}

.loading {
  position: absolute;
}

/* ========== NAVBAR [START] ========== */
.navbar {
  /* position: fixed;
  top: 0; */

  margin: 0;
  overflow: hidden;
  height: 52px;
  width: 100%;

  background-color: lightskyblue;
}

.navbar ul {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;

  background-color: #223;
  list-style-type: none;
}

.navbar li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar .active {
  background-color: #04aa6d;
}
/* ========== NAVBAR [END] ========== */

/* ========== HOME [START] ========== */
.home {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;
}

.homeContent {
  position: absolute;
  color: #fff;
  text-align: center;
}

.homeContent p {
  margin: 0;
}

.homeContent span {
  color: lightskyblue;
}

/* ========== BUTTON VIEW PROFILE [START] ========== */
.btnViewProfile {
  position: relative;
  display: flex;
  width: 240px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 16px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  padding: 8px 50px 12px 12px;
  transition: all 0.5s;
  box-sizing: border-box;
  cursor: pointer;
}

.btnViewProfile:hover {
  background-color: lightskyblue;
  border-color: lightskyblue;
}

.btnViewProfile > span {
  transition: all 0.2s;
  position: absolute !important;
  right: 20px;
  top: 14px;
}

.btnViewProfile:hover span {
  transform: rotate(90deg);
}
/* ========== BUTTON VIEW PROFILE [END] ========== */
/* ========== HOME [END] ========== */

/* ========== MAIN [START] ========== */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ========== MAIN [END] ========== */

/* ========== FOOTER [START] ========== */
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
/* ========== FOOTER [END] ========== */

/* ========== ABOUT [START] ========== */
.about {
  background-color: #fff;
  width: 100%;
}

.about h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
  color: #444649;
}

.about > hr {
  width: 70px;
  border: 2px solid #444649;
  margin-bottom: 100px;
}

/* ========== ABILITY [START] ========== */
.aboutAbility {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutAbilityCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  margin: 0 16px;
}

.aboutAbilityWrapIcon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.aboutAbilityTitle {
  margin: 15px 0 5px;
  font-size: 24px;
  font-weight: 500;
  color: #444649;
}

.aboutAbilityDetail {
  line-height: 24px;
  color: #444649;
  text-align: center;
}

.aboutAbility .aboutAbilityWrapIcon span {
  width: 56px !important;
  height: 56px !important;
}
/* ========== ABILITY [END] ========== */

/* ========== HEXAGON [START] ========== */
.hexagon {
  background-color: lightskyblue;
  display: inline-block;
  height: 100%;
  width: calc(100% * 0.57735);
  text-align: center;
}

.hexagon:before {
  background-color: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(60deg);
  width: inherit;
}

.hexagon:after {
  background-color: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(-60deg);
  width: inherit;
}

.hexagon span {
  margin-top: 6px;
  white-space: nowrap;
  color: #fff;
  font-size: 34px;
  left: 0;
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 1;
}
/* ========== HEXAGON [END] ========== */

/* ========== SKILL [START] ========== */
.aboutWrapSkill {
}
/* ========== SKILL [END] ========== */
/* ========== ABOUT [END] ========== */
